* {
    font-family: 'Bad Script', cursive;
}

.page1 {
    border: solid;
}

.first-row {
    display: flex;
    justify-content: space-between;
}

.score {
    padding-top: 40px;
    padding-left: 40px;
    color: violet;
}

.timer {
    padding-top: 40px;
    padding-right: 40px;
}

.middle1 {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

header {
    font-weight: bold;
    font-size: 30px;
}

.introduction{
    padding: 10px;
}

#buttonStart{
    background-color: navy;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#response {
    background-color: navy;
    border-radius: 5px;
    color: white;
    padding: 3px;
    margin: 1px;
    width: 200px;
    display: none;
}

#resultTitle {
    border-top: 1px gray;
    margin-top: 30px;
    width: 500px;
}

#finalScreen {
    display: flex;
    margin-left: 4px;
    margin-right: 4px;
}

#enterInitials {
    margin-left: 4px;
    margin-right: 4px;
}
#userInitials {
    margin-left: 4px;
    margin-right: 4px;
}
#submitBtn {
    margin-left: 4px;
    margin-right: 4px;
}

#scores {
    width: 500px;
    display: flex;
}

#userScore {
    /*background-color: darkgray;*/
    height: 40px;
    margin: 3px;
}


#goBack{
    margin-left: 4px;
    margin-right: 4px;
    background-color: navy;
    border-radius: 5px;
    color: white;
    padding: 3px;
    width: 200px;
    height: 40px;
    display: none;

}

#clearScores {
    margin-left: 4px;
    margin-right: 4px;
    background-color: navy;
    border-radius: 5px;
    color: white;
    padding: 3px;
    width: 200px;
    height: 40px;
    display: none;
}

.score:hover {
    color: blue;
    cursor: pointer;
}

#buttonStart:hover {
    background-color: rgb(186, 130, 238);
    cursor: pointer;

}

#response:hover {
    background-color: rgb(186, 130, 238);
    cursor: pointer;
}

#goBack:hover {
    background-color: rgb(186, 130, 238);
    cursor: pointer;
}

#clearScores:hover {
    background-color: rgb(186, 130, 238);
    cursor: pointer;
}